@inject IHttpContextAccessor Accessor;
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drink Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Creative Studio main styles -->
    <link rel="stylesheet" href="~/assets/css/creative-studio.css">
    <link rel="stylesheet" href="~/assets/css/tai.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <header>
        <nav class="  navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Product/Index">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Admin/Product/Create"><i class="ti-package"></i> Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Admin/Discount/Create"><i class="ti-gift"></i> Add Promotions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Admin/Statistic/Index"><i class="ti-list"></i> Sales Statistic</a>
                    </li>


                    @{
                        if (Accessor.HttpContext.Session.GetString("FullName") != null)
                        {
                            <li class="nav-item">
                                <a class="text-dark btn" asp-area=""> <i class="ti-user"></i>@Accessor.HttpContext.Session.GetString("FullName")</a>
                            </li>

                            <li class="nav-item">
                                <form asp-area="" asp-page-handler="Logout" asp-page="/Index" method="post">
                                    <input style="background:none;border:none" class="text-dark btn" type="submit" value="Logout" />
                                </form>
                            </li>

                        }
                    }


                </ul>
            </div>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Drink Store - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>